body {
    background-color: darkslategrey;
    /* font-family: 'Roboto', sans-serif; */
}

.journal_title {
    color: rgb(229, 226, 226);
    /* text-align: center; */
    padding-left: 10px;
    font-weight: 700;
}

input[type=text], select {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

textarea[name="message"], select {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}

input[type=date], select {
    display: flex;
    /* flex-direction: column; */
    border-radius: 5px;
}

div.container {
    border-radius: 8px;
    background-color: rgb(238, 235, 235);
    padding: 20px;
    max-width: 800px;
    
  }